<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.1)), url(https://2.bp.blogspot.com/-tXKI8DU4_QE/V_Kzh1Bx5jI/AAAAAAAAAoA/vCycQdtr4QASYbnqCoDw0zHi7T0tCh5tQCEw/s1600/w%25C5%2582a%25C5%259Bciwe.jpg);">
  <div class="form-home">
    <div class="container-home">
      <%= form_tag(all_artworks_path, method: "get") do %>
           <h1>Discover and rent artworks<br> by renowned and emerging artists.</h1>
        <%= label_tag(:address, "Where") %>
        <%= text_field_tag(:address) %>
        <%= select_tag(:art_type, options_for_select(Artwork::ARTTYPE)) %>
        <%= submit_tag("Search") %>
      <% end %>

<!--
      <form>
        <h1>Découvrez et louez des oeuvres <br> d’artistes confirmés et émergents.</h1>
        <div class="form-group">
          <label for="inputAddress">Où?</label>
          <input type="text" class="form-control" id="inputAddress" placeholder="City">
        </div>

        <div class="form-row">
            <div class="col">
            <label for="inputCity">Du</label>
            <input type="text" class="form-control" id="inputCity" placeholder="From">
            </div>

        <div class="col">
          <label for="inputDate">Au</label>
          <input type="text" class="form-control" id="inputDate" placeholder="To">
        </div>
        </div>

        <div class="form-group">
            <label for="inputType">Type</label>
            <input type="text" class="form-control" id="inputType" placeholder="Type?">
        </div>
        <button type="submit" class="btn btnsignlg">Rechercher</button>
      </form>
 -->


    </div>
  </div>
</div>
  <div class="bg-white">
  <h1>
           <center> <span id="typed"></span></center>
        </h1>

<!-- <h1><center>All Artworks</center></h1> -->
<h1 style="text-align:center">Latest artworks</h1>
<div class="container">

<%= link_to "add an Artwork", new_artwork_path, class: "btnsignlg" %>
</div>

<div class="container bg-white">
<div class="container-ind">
  <% @artworks.each do |artwork| %>
  <%= link_to artwork_path(artwork) do%>
    <div class="card-result">
    <div class="inner-div" style="background: url(<%= cl_image_path artwork.photo %>) center">
    </div>
  </div>

    <div class="infos-card-ind">
      <h5><%= artwork.title %></h5>
      <h5><%= artwork.price %>€</h5>
      </div>
      <p class="artwork-title"><%= artwork.title %></p>
  <%end%>
  <%end%>
</div>
</div>
</div>
<%= render 'shared/footer' %>

