<div class="container">
  <div class ="row mt-4">
    <div class="col-sm-8 col-md-4 mt-4 artworks-cards-container" id="card-left">
      <div class= "card-container">
        <div class = "show-artwork-image-card">
          <%= cl_image_tag @artwork.photo %>
        </div>
    </div>

    <div class="col-sm-8 col-md-4 mt-4" id="card-right">
      <div class= "card-container">
        <div class="show-artwork-description">
          <div class ="show-artwork-card">
          <span><%= @artwork.category %></span>
            <h1><%= @artwork.title %></h1>
            <p><%= @artwork.description %></p>
            <p><%= @artwork.size %></p>
            <p><%= @artwork.art_date %></p>
            <p><%= @artwork.art_type %></p>
          </div>
        <div class="show-artwork-price">
          <span><%= @artwork.price %>€</span>
        </div>
        <div class="card-btn-booking">
          <%= link_to "BOOK", artworks_path, class: "btn btn-outline-primary" %>
        </div>
        <div class="card-btn">
          <%= link_to "View all artworks", artworks_path, class: "btn btn-outline-primary" %>
        </div>
        </div>
    </div>
  </div>
</div>





