<h2 class="booking-title pl-5">A confirmer</h2>

<section class="section">
    <% @booking_requests.each do |booking| %>
    <div class="booking-artwork-card">
      <div class="row w-75 align-items-center" >
        <div class="image d-flex flex-shrink-1" style="padding-right: 20px">
          <div style="position: relative">
            <%= cl_image_tag booking.artwork.photo, :width => 100 %>
          <div class="caption"><%= booking.artwork.title %></div>
          </div>
        </div>

        <div class="booking-card-details col">
          <h3>Requested by: <%= booking.user.username %></h3>
          <p class="m-0"><strong><%= booking.artwork.price %>€/day</strong></p>
          <p class="date">
            <i class="far fa-calendar"></i>
            <span><strong><%= booking.start_date %> to <%= booking.end_date %></strong></span>
          </p>
        </div>

        <% if booking.artwork.user == current_user && booking.status == 'Pending' %>
          <div class="button-group d-flex flex-shrink-1">
            <%= link_to 'OK', booking_booking_status_change_path(booking), method: :post, class: 'btn btn-primary mr-1'  %>
            <button type="button" class="btn btn-danger">cancel</button>
          </div>
        <% elsif %>
          <% booking.artwork.user == curent_user && booking.status == 'Accepted' %>
          <p class="booking-approved">
            <i class="far fa-check-circle"></i>
          </p>
        <% else %>
           <% booking.artwork.user == curent_user && booking.status == 'Declined' %>
            <p class="booking-declined">
            <i class="fas fa-ban"></i>
          </p>
        <% end %>
      </div>
    </div>
    <% end %>
</section>


<h2 class="booking-title pl-5">Mes locations</h2>

<section class="section container">
  <% @bookings.each do |booking| %>
    <div class="booking-artwork-card">
      <div class="row w-100 align-items-center">


        <div class="image d-flex flex-shrink-1"  style="padding-right: 20px">
          <div style="position: relative">
            <%= cl_image_tag booking.artwork.photo, :width => 100 %>
            <div class="caption"><%= booking.artwork.title %></div>
          </div>
        </div>

        <div class="booking-card-details col">
          <h3>Artist:
            <%= booking.artwork.user.username%>
          </h3>
            <p><%= booking.artwork.size %></p>
            <p><%= booking.artwork.art_type %></p>
            <p><%= booking.artwork.category %></p>
            <p><%= booking.artwork.art_date %></p>
            <p><strong><%= booking.artwork.price %>€/day</strong></p>
            <p class="date">
              <i class="far fa-calendar"></i>
              <span class=""><strong><%= booking.start_date %> to <%= booking.end_date %></strong></span>
            </p>
            <% if booking.artwork.user != current_user && booking.status == 'Pending' %>
              <div class="booking-status d-flex flex-shrink-1">
              <p><strong>Awaiting confirmation...</strong></p>
            <% elsif %>
              <% booking.artwork.user != current_user && booking.status == 'Approved' %>
                <p class="booking-approved">
                <i class="far fa-check-circle"></i>
                </p>
              <% else %>
              <% booking.artwork.user != current_user && booking.status == 'Declined' %>
              <p class="booking-declined">
            <i class="fas fa-ban"></i>
              </p>
            </div>
          <% end %>
        </div>

      </div>
    </div>
    <% end %>
</section>



