<h2 class="booking-title">A confirmer</h2>

<section class="section">
  <div class="container">
    <% @booking_requests.each do |booking| %>

      <div style="display: flex; ">

        <div style="padding-right: 20px">
          <div style="position: relative">
            <%= cl_image_tag booking.artwork.photo, :width => 200 %>
            <div class="caption"><%= booking.artwork.title %></div>
          </div>
        </div>

        <div class="booking-card-details">
          <h3><a class="link-booking" href="#">Locataire</a></h3>
                <!-- TODO Mettre avatar du locataire-->
            <img src="" width="48pt" class="rounded-circle" alt="">
            <p class="date">
              <i class="far fa-calendar"></i>
              <span class=""><strong><%= booking.start_date %> to <%= booking.end_date %></strong></span>
            </p>

            <p class="name"><strong><%= booking.artwork.price %>€</strong></p>
            <p class="name"><%= booking.artwork.size %></p>
            <p class="name"><%= booking.artwork.art_type %></p>
            <p class="name"><%= booking.artwork.category %></p>
            <p class="name"><%= booking.artwork.art_date %></p>
            <button type="button" class="btn btn-primary">ok</button>
            <!-- en JS ok = checked tick -->
            <button type="button" class="btn btn-danger">cancel</button>
        </div>
      </div>
    <% end %>

  </div>
</section>


<h2 class="booking-title">Mes locations</h2>

<section class="section">
  <div class="container">
    <% @bookings.each do |booking| %>

      <div style="display: flex; ">


        <div style="padding-right: 20px">
          <div style="position: relative">
            <%= cl_image_tag booking.artwork.photo, :width => 200 %>
            <div class="caption"><%= booking.artwork.title %></div>
          </div>
        </div>

        <div class="booking-card-details">
          <h3><a class="link-booking" href="">Locataire</a></h3>
              <!-- TODO Mettre avatar du locataire-->
            <img src="" width="48pt" class="rounded-circle" alt="">
            <p class="date">
              <i class="far fa-calendar"></i>
              <span class=""><strong><%= booking.start_date %> to <%= booking.end_date %></strong></span>
            </p>
            <p class="name"><strong><%= booking.artwork.price %>€</strong></p>
            <p class="name"><%= booking.artwork.size %></p>
            <p class="name"><%= booking.artwork.art_type %></p>
            <p class="name"><%= booking.artwork.category %></p>
            <p class="name"><%= booking.artwork.art_date %></p>
            <p class="name"><strong><%= booking.status %></strong></p>
        </div>

      </div>
    <% end %>
  </div>
</section>



